@{
    ViewBag.Title = "Sign IN";
}
@model String

@*@using WebApplication5.Models
@{
   string email=ViewData["userEmail"]as string;
}*@

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/Content/simpleGridTemplate.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/aboutUs.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/singlePageTemplate.css" rel="stylesheet" />
    <title>sign In</title>
    <script src="~/myScript.js" runat="server" type="text/javascript"></script>
</head>

<body>
    <div class="form_container">
        <header>
            <h2 class="logo"><img src="~/images/logo.png" width="35%" />FASTwheels</h2>
            <nav>
                <ul>
                    <li><a>@Html.ActionLink("Home", "HomePage", "Home")</a></li>
                    <li> <a href="@Url.Action("getAllUsedCars","Home")">UsedCar</a></li>
                    <li> <a href="@Url.Action("getAllNewCars","Home")">NEW CARS</a></li>
                    <li><a>@Html.ActionLink("Sign In", "Index", "Home")</a> </li>
                    <li><a>@Html.ActionLink("Sign Up", "signUP", "Home")</a> </li>
                    <li> <a href="@Url.Action("getAllDealers","Home")">Dealers</a></li>
                    <li> <a href="@Url.Action("getAllAutoParts","Home")">Auto Parts</a></li>
                    <li><a>@Html.ActionLink("About Us", "aboutUs", "Home")</a></li>
                    <li><button onClick="loginCondition()" class="button">Post an Ad </button> </li>

                    <li><a href="~/Home/signUP">Sign UP</a></li>

                </ul>
            </nav>

        </header>

        <div align="center">
            <form id="signIn_Form" method="post" action="../Home/signIN">

                <h1>Login</h1>

                <label for="email"><strong>Email&nbsp; &nbsp; &nbsp; &nbsp;</strong></label>
                <input  id="dummy_form" type="email" name="email" />
                <br><br>

                <label for="password"><strong>Password</strong></label>
                <input  id="dummy_form" type="password" name="password" />


                <br><br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="button">Login</button>
                @*<input type="submit" class="button" />*@

                <br>
                <div class="Error"><text>@Model</text></div>

            </form>
        </div>

        <div class="footer_banner" id="contact">

            <h2 class="hidden">Footer Banner Section </h2>
            <p class="footer01">FOR THE LATEST NEWS UPDATES, visit our site or contact us at FASTwheels@lhr.pk</p>

        </div>
        <!-- Copyrights Section -->
        <div class="copyright">&copy;All rights reserved.&nbsp; </div>



        <!--container class end-->
    </div>

</body>
</html>

