@{
    ViewBag.Title = "signUP";
}

@model String

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sign up</title>
    <link href="~/Content/singlePageTemplate.css" rel="stylesheet" />
    <script src="~/myScript.js"></script>
</head>

<body>
    <div class="form_container">
        <header>
            <h2 class="logo"><img src="~/images/logo.png" alt="FASTwheels" width="40%" onClick="openHome()">FASTwheels</h2>
            <nav>
                <ul>
                    <li><a>@Html.ActionLink("Home", "HomePage", "Home")</a></li>
                    <li> <a href="@Url.Action("getAllUsedCars","Home")">UsedCar</a></li>
                    <li> <a href="@Url.Action("getAllNewCars","Home")">NEW CARS</a></li>
                    <li><a>@Html.ActionLink("Sign In", "Index", "Home")</a> </li>
                    <li><a>@Html.ActionLink("Sign Up", "signUP", "Home")</a> </li>
                    <li> <a href="@Url.Action("getAllDealers","Home")">Dealers</a></li>
                    <li> <a href="@Url.Action("getAllAutoParts","Home")">Auto Parts</a></li>
                    <li><a>@Html.ActionLink("About Us", "aboutUs", "Home")</a></li>
                    <li class="button"><a>@Html.ActionLink("Post an Ad", "postanAdd", "Home") </a> </li>

                </ul>
            </nav>
        </header>

        <div align="center">
            
                <form id="signUp_Form" method="post" action="../Home/sup" onsubmit="return signUpValidation();" >
                    <h1>Sign Up</h1>

                    <label for="firstname"><strong>First Name &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</strong></label>
                    <input id="firstname" class="c1" type="text" placeholder="Enter Your First Name" name="firstname" required>
                    <br><br>

                    <label for="lastname"><strong>Last Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></label>
                    <input id="lastname" class="c1" type="text" placeholder="Enter Your Last Name" name="lastname" required>
                    <br><br>

                    <label for="email"><strong> Username/Email &nbsp; &nbsp; &nbsp; </strong></label>
                    <input id="email" class="c1" type="email" placeholder="Enter Email" name="email" required>
                    <br><br>
                    <label for="cnic"><strong>cnic &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</strong></label>
                    <input id="cnic" class="c1" type="text" placeholder="Enter Your CNIC number" name="cnic" required>
                    <br><br>


                    <label for="password"><strong>Type Password &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></label>
                    <input id="password" class="c1" type="password" placeholder="Enter Password" name="password" required>
                    <br><br>


                    <button @*onclick="redirect()"*@ type="submit" class="button">sign up</button>
                </form>
           
            </div>

        <div class="footer_banner" id="contact">

            <h2 class="hidden">Footer Banner Section </h2>
            <p class="footer01">FOR THE LATEST NEWS UPDATES, visit our site or contact us at FASTwheels@lhr.pk</p>

        </div>
        <!-- Copyrights Section -->
        <div class="copyright">&copy;All rights reserved.&nbsp; </div>
        <!--container class end-->
    </div>

</body>
</html>


