@{
    ViewBag.Title = "UsedCar";
}
@using WebApplication5.Models
@{

    var usedCarList = ViewData["usedCarsList"] as List<usedCars>;
    var alert = ViewData["alert"] as String;
}



<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Used Cars</title>
    <link href="~/Content/simpleGridTemplate.css" rel="stylesheet" />
    <link href="~/Content/singlePageTemplate.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/myScript.js"></script>

</head>
<body>
    <!-- Main Container -->
    <div class="container">
        <!-- Header -->
        
        <header>
            <h2 class="logo"><img src="~/images/logo.png" width="35%"/>FASTwheels</h2>
            <nav>
                <ul>
                    <li><a>@Html.ActionLink("Home", "HomePage", "Home")</a></li>
                    <li> <a href="@Url.Action("getAllUsedCars","Home")">UsedCar</a></li>
                    <li> <a href="@Url.Action("getAllNewCars","Home")">New Cars</a></li>
                    <li> <a href="@Url.Action("getAllDealers","Home")">Dealers</a></li>
                    <li> <a href="@Url.Action("getAllAutoParts","Home")">Auto Parts</a></li>
                    <li><a>@Html.ActionLink("About Us", "aboutUs", "Home")</a></li>
                    <li class="button"><a>@Html.ActionLink("Post an Ad", "postanAdd", "Home") </a> </li>
                    <li><a>@Html.ActionLink("Sign In", "Index", "Home")</a> </li>
                    <li><a>@Html.ActionLink("Sign Up", "signUP", "Home")</a> </li>

                </ul>
            </nav>
        </header>
        <!-- Hero Section -->
        <section class="intro">
            <div class="column2">
                <h1 align="center">&nbsp; &nbsp; &nbsp;Find Cars for Sale in Pakistan</h1>
                <p>With thousand of cars,we have just the right one for you </p>
            </div>
        </section>

        <form method="post" action="../Home/searchUsedCars" onsubmit="return validationUC();">
            <div class="searchBar" align="center">

                <label for="make"> Make &nbsp; </label>

                <select name="make" id="Make" class="dummy_form">
                    <option value="select">Select </option>
                    <option value="honda"> Honda  </option>
                    <option value="toyatta"> Toyatta  </option>
                    <option value="mercedes"> Mercedes  </option>
                    <option value="audi"> Audi  </option>
                    <option value="suzuki"> Suzuki  </option>
                </select>

                <label for="model">&nbsp; &nbsp; Model &nbsp;</label>
                <select name="model" id="Model" class="dummy_form">
                    <option value="select"> Select Model</option>
                    <option value="2016"> 2016  </option>
                    <option value="2017"> 2017  </option>
                    <option value="2018"> 2018  </option>
                    <option value="2019"> 2019  </option>
                    <option value="2020"> 2020  </option>
                </select>

                <label for="location">&nbsp; &nbsp; Location &nbsp;</label>
                <select name="location" id="City" class="dummy_form">
                    <option value="select">Choose City </option>
                    <option value="Lahore"> Lahore  </option>
                    <option value="Karachi"> Karachi  </option>
                    <option value="Islamabad"> Islamabad  </option>
                    <option value="Peshawar"> Peshawar  </option>
                    <option value="Gujranwala"> Gujranwala  </option>
                </select>

                <label for="range"> &nbsp; &nbsp; Range &nbsp;</label>
                <select name="range" id="Price" class="dummy_form">
                    <option value="select">Price Range </option>
                    <option value="upto 1,000,000"> upto 1,000,000 </option>
                    <option value="1,000,001 to 2,000,000"> 1,000,001 to 2,000,000 </option>
                    <option value="2,000,001 to 4,000,000"> 2,000,001 to 4,000,000 </option>
                    <option value="4,000,001 to 8,000,000"> 4,000,001 to 8,000,000 </option>
                    <option value=">8,000,000"> >8,000,000</option>
                </select>

                <br><br>
                @*<li> <a href="@Url.Action("searchUsedCars","Home")">Search</a></li>*@
                <button type="submit" class="button" > Search </button>
            </div>
        </form>

        <h2 align="center">Top used Cars in Pakistan</h2>
        <div class="gallery">
            <form method="post" action="../Home/buyAutoPart">
                @if (usedCarList != null)
                {
                  foreach (usedCars temp in usedCarList)
                 {

                   <div @*class="thumbnail"*@  class="usedCarBox" allign="centre">
                      <img src="~/usedCarImages/@temp.imageName" alt="@temp.CarMake+@temp.CarName" width="2000" class="cards" />
                      <h4>@temp.CarMake @temp.CarName @temp.Model</h4>
                      <p class="tag"><strong>pkr @temp.CarPrice </strong> </p>
                      <p class="tag">@temp.Description</p>
                      <br>
                    <button>  <a class="used_car" href="@Url.Action("buyUsedCar", "Home", new { CarRegNo = @temp.RegistrationNo })">Buy Now</a></button>
                    <button id="heart" onClick="like()"><i class="fa fa-heart-o" style="font-size:18px;"></i></button>
                   </div>
                   <br>
                  }
                }
                else
                {
                    <h5> Nothing Found</h5>
                }
                @if(alert=="T")
                {
                    <script >
                     alert("Cannot buy your own Car");
                     </script>
                }
            </form>
        </div>
        <!-- Footer Section -->
        <section class="footer_banner" id="contact">
            <h2 class="hidden">Footer Banner Section </h2>
            <p class="footer01">FOR THE LATEST NEWS UPDATES, visit our site or contact us at FASTwheels@lhr.pk</p>
        </section>
        <!-- Copyrights Section -->
        <!--<div class="copyright">&copy;All rights reserved.&nbsp; </div>-->

    </div>
</body>
</html>

